<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rushfusion.matservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MATServiceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MATService" >
        </service>

        <activity
            android:name=".Service_MediaPlayer"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".Service_WebViewPlayer"
            android:launchMode="singleInstance" >
        </activity>

        <receiver android:name="com.rushfusion.matservice.BootReceiver" >
            <intent-filter android:priority="8888" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.wifi.NETWORK_IDS_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>